<%= form_with model: @comment, remote: true do |f| %>
  <div class="ui action input">
    <%= f.text_area :content, class: "ui input focus", placeholder: "Compose new comment..." %>
    <%= f.hidden_field :artist_id, :value => @artist.id %>
    <%= button_tag '<i class="comment alternate outline icon"></i>'.html_safe, :type => "submit", :class =>"ui green button"%>
  </div>
<% end %>
