<%= form_with(model: current_user.active_relationships.build, local: true)  do |f| %>
  <div><%= hidden_field_tag :following_id, @user.id %></div>
  <%= f.submit "like!!", class: "btn btn-primary" %>
  <i class="fas fa-heart fa-3x"></i>
<% end %>
