<%= form_with(model: current_user.active_relationships.find_by(following_id: @user.id),
            html: { method: :delete }, local: true) do |f| %>
  <%= button_tag  :type => "submit", :class =>"ui animated red button" do %>
    <div class="visible content">
      Following
    </div>
    <div class="hidden content">
      <i　aria-hidden="true"></i>UnFollow?
    </div>
  <% end %>
<% end %>
