// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.artist_icon img{
  width: 200px; /*任意のサイズ*/
  height: auto;
}

.artist_icon_for_index img{
  width: 30px; /*任意のサイズ*/
  height: auto;
}
