@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.top-wrapper {
  background-image: url('main_background.jpg');
  // 背景を固定する
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  width: 100% auto;
  background-size:cover;
}

.site-description ul {
  margin-top: 10px;
  float: left;
}

.sign_up_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.sign_up_btn:hover {
  background: #67c5ff;
  color: white;
}

.log_in_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.log_in_btn:hover {
  background: #67c5ff;
  color: white;
}




@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



body {
  padding-top: 60px;
}

// section {
//   overflow: auto;
// }

textarea {
  resize: vertical;
}

// .center {
//   text-align: center;
// }
//
// .center h1 {
//   margin-bottom: 10px;
// }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.artist_index{
    width: 100%;
    height: 300px;
    overflow: scroll;
}


.artist_index_icon{
  float: left;
  margin: 10px;
}




/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: underline;
}

/* ヘッダーの固定 */
header{
  border-top:3px solid #000;
}
.navbar-fixed-top{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 60px;              /* 縦幅140px */
    background-color:#000;     /* 背景色(黒) */
}

// .container {
// 	background-color:#444;     /* 背景色(黒) */
// 	padding:10px 0 20px;       /* 上10px、下20pxをあける */
// 	height:110px;              /* 縦の高さ110px */
// 	width:100%;                /* 横の幅を100% */
// }


// div#header {
// 	border: 5px solid #fff;    /* 表示領域を白枠で囲う */
// 	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
// 	width: 960px;              /* 横の幅970px */
// 	margin: auto;              /* 中央揃え */
// }


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


.sidebar_fixed {
  position: sticky;
  top: 60px;
  color: #fff;
}
// .sidebar_content {
//   margin-bottom: 100px;
//   color: #fff;
// }



/* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 60%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

input {
  height: auto !important;
}
