<div class="header">
  <header class="navbar-fixed-top">
    <div class="container">
    <%= link_to "Fes app", users_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
 </header>
</div>
