<div class="ui fixed menu">
 
    <div class="left menu">
      <div id="js-sidebar" class="item">
        <i class="icon large grey content"></i>
      </div>
      <%= link_to "Fes app", users_path, id: "logo" %>
    </div>
 
</div>
